<div class="container">
  <h2>Upload SCSS Files</h2>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="fileInput">Select SCSS Files:</label>
      <input
        type="file"
        (change)="onFileChange($event)"
        multiple
        required
        accept=".scss"
      />
    </div>
    <div class="form-group">
      <label for="mainFile">Main SCSS File:</label>
      <input type="text" [(ngModel)]="mainFileName" name="mainFile" required />
    </div>

    <button type="submit" [disabled]="files.length < 1 || !mainFileName">
      Upload
    </button>
  </form>

  <!--  -->
  @if (response) {
  <div class="mt-3">
    <h3>Compiled CSS:</h3>
    <pre>{{ response }}</pre>
  </div>
  <app-download-file [css]="response" [fileName]="mainFileName" />
  }
</div>
